@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import '../../css/root.css';
@import '../../css/base.css';


header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: transparent;
}
